<h1>New project_detail</h1>

<% form_for(@project_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :month %><br />
    <%= f.date_select :month %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    Planned Value<br />
    <%= f.text_field :PlannedValue %>
  </p>
  <p>
    LRE Contract<br />
    <%= f.text_field :LREContract %>
  </p>
  <p>
    LRE PMC<br />
    <%= f.text_field :LREPmc %>
  </p>
  <p>
    Contractor Index<br />
    <%= f.text_field :ContractorIndex %>
  </p>
  <p>
    CPI<br />
    <%= f.text_field :CPI %>
  </p>
  <p>
    SPI<br />
    <%= f.text_field :SPI %>
  </p>
  <p>
    MileStone Build<br />
    <%= f.text_field :MileStonebuild %>
  </p>
  <p>
    MileStone Unbuild<br />
    <%= f.text_field :MileStoneUnbuild %>
  </p>
  <p>
    Issues Internal<br />
    <%= f.text_field :IssuesInternal %>
  </p>
  <p>
    Issues External<br />
    <%= f.text_field :IssuesExternal %>
  </p>
  <p>
    Quality Index<br />
    <%= f.text_field :QualityIndex %>
  </p>
  <p>
    HSC Index<br />
    <%= f.text_field :HSCIndex %>
  </p>
  <p>
    Material Asphant<br />
    <%= f.text_field :MaterialAsphant %>
  </p>
  <p>
    Material Concrete<br />
    <%= f.text_field :MaterialConcrete %>
  </p>
  <p>
    Material HSteal<br />
    <%= f.text_field :MaterialHSteal %>
  </p>
  <p>
    Material RSteal<br />
    <%= f.text_field :MaterialRSteal %>
  </p>
  <p>
    Machine Available<br />
    <%= f.text_field :MachineAvailable %>
  </p>
  <p>
    Machine Used<br />
    <%= f.text_field :MachineUsed %>
  </p>
  <p>
    Men Available<br />
    <%= f.text_field :MenAvailable %>
  </p>
  <p>
    Men Used<br />
    <%= f.text_field :MenUsed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', project_details_path %>