<p>
  <b>Month</b>
  <%=h @project_detail.month %>
</p>

<p>
  <b>Location</b>
  <%=h @project_detail.location %>
</p>

<p>
  <b>Planned Value</b>
  <%=h @project_detail.PlannedValue %>
</p>

<p>
  <b>LRE Contract</b>
  <%=h @project_detail.LREContract %>
</p>

<p>
  <b>LRE PMC</b>
  <%=h @project_detail.LREPmc %>
</p>

<p>
  <b>Contractor Index</b>
  <%=h @project_detail.ContractorIndex %>
</p>

<p>
  <b>CPI</b>
  <%=h @project_detail.CPI %>
</p>

<p>
  <b>SPI</b>
  <%=h @project_detail.SPI %>
</p>

<p>
  <b>Milestone Build</b>
  <%=h @project_detail.MileStonebuild %>
</p>

<p>
  <b>Milestone Unbuild</b>
  <%=h @project_detail.MileStoneUnbuild %>
</p>

<p>
  <b>Issues Internal</b>
  <%=h @project_detail.IssuesInternal %>
</p>

<p>
  <b>Issues External</b>
  <%=h @project_detail.IssuesExternal %>
</p>

<p>
  <b>Quality Index</b>
  <%=h @project_detail.QualityIndex %>
</p>

<p>
  <b>HSC Index</b>
  <%=h @project_detail.HSCIndex %>
</p>

<p>
  <b>Material Asphant</b>
  <%=h @project_detail.MaterialAsphant %>
</p>

<p>
  <b>Material Concrete</b>
  <%=h @project_detail.MaterialConcrete %>
</p>

<p>
  <b>Material HSteal</b>
  <%=h @project_detail.MaterialHSteal %>
</p>

<p>
  <b>Material RSteal</b>
  <%=h @project_detail.MaterialRSteal %>
</p>

<p>
  <b>Machine Available</b>
  <%=h @project_detail.MachineAvailable %>
</p>

<p>
  <b>Machine Used</b>
  <%=h @project_detail.MachineUsed %>
</p>

<p>
  <b>Men Available</b>
  <%=h @project_detail.MenAvailable %>
</p>

<p>
  <b>Men Used</b>
  <%=h @project_detail.MenUsed %>
</p>


<%= link_to 'Edit', edit_project_detail_path(@project_detail) %> |
<%= link_to 'Back', project_details_path %>