<p>
  <b>Month:</b>
  <%=h @project_detail.month %>
</p>

<p>
  <b>Location:</b>
  <%=h @project_detail.location %>
</p>

<p>
  <b>Plannedvalue:</b>
  <%=h @project_detail.PlannedValue %>
</p>

<p>
  <b>Lrecontract:</b>
  <%=h @project_detail.LREContract %>
</p>

<p>
  <b>Lrepmc:</b>
  <%=h @project_detail.LREPmc %>
</p>

<p>
  <b>Contractorindex:</b>
  <%=h @project_detail.ContractorIndex %>
</p>

<p>
  <b>Cpi:</b>
  <%=h @project_detail.CPI %>
</p>

<p>
  <b>Spi:</b>
  <%=h @project_detail.SPI %>
</p>

<p>
  <b>Milestonebuild:</b>
  <%=h @project_detail.MileStonebuild %>
</p>

<p>
  <b>Milestoneunbuild:</b>
  <%=h @project_detail.MileStoneUnbuild %>
</p>

<p>
  <b>Issuesinternal:</b>
  <%=h @project_detail.IssuesInternal %>
</p>

<p>
  <b>Issuesexternal:</b>
  <%=h @project_detail.IssuesExternal %>
</p>

<p>
  <b>Qualityindex:</b>
  <%=h @project_detail.QualityIndex %>
</p>

<p>
  <b>Hscindex:</b>
  <%=h @project_detail.HSCIndex %>
</p>

<p>
  <b>Materialasphant:</b>
  <%=h @project_detail.MaterialAsphant %>
</p>

<p>
  <b>Materialconcrete:</b>
  <%=h @project_detail.MaterialConcrete %>
</p>

<p>
  <b>Materialhsteal:</b>
  <%=h @project_detail.MaterialHSteal %>
</p>

<p>
  <b>Materialrsteal:</b>
  <%=h @project_detail.MaterialRSteal %>
</p>

<p>
  <b>Machineavailable:</b>
  <%=h @project_detail.MachineAvailable %>
</p>

<p>
  <b>Machineused:</b>
  <%=h @project_detail.MachineUsed %>
</p>

<p>
  <b>Menavailable:</b>
  <%=h @project_detail.MenAvailable %>
</p>

<p>
  <b>Menused:</b>
  <%=h @project_detail.MenUsed %>
</p>


<%= link_to 'Edit', edit_project_detail_path(@project_detail) %> |
<%= link_to 'Back', project_details_path %>