<p>
  <b>Month:</b>
  <%=h @proj_detail.month %>
</p>

<p>
  <b>Percentageprogress:</b>
  <%=h @proj_detail.PercentageProgress %>
</p>

<p>
  <b>Plannedvalue:</b>
  <%=h @proj_detail.PlannedValue %>
</p>

<p>
  <b>Earnedvalue:</b>
  <%=h @proj_detail.EarnedValue %>
</p>

<p>
  <b>Actualcost:</b>
  <%=h @proj_detail.ActualCost %>
</p>

<p>
  <b>Lresite:</b>
  <%=h @proj_detail.LRESite %>
</p>

<p>
  <b>Lrepmc:</b>
  <%=h @proj_detail.LREPmc %>
</p>

<p>
  <b>Cpi:</b>
  <%=h @proj_detail.CPI %>
</p>

<p>
  <b>Spi:</b>
  <%=h @proj_detail.SPI %>
</p>

<p>
  <b>Milestonebilled:</b>
  <%=h @proj_detail.MileStoneBilled %>
</p>

<p>
  <b>Milestoneunbilled:</b>
  <%=h @proj_detail.MileStoneUnbilled %>
</p>

<p>
  <b>Internalissues:</b>
  <%=h @proj_detail.InternalIssues %>
</p>

<p>
  <b>Externalissues:</b>
  <%=h @proj_detail.ExternalIssues %>
</p>

<p>
  <b>Qualityindex:</b>
  <%=h @proj_detail.QualityIndex %>
</p>

<p>
  <b>Hscindex:</b>
  <%=h @proj_detail.HSCIndex %>
</p>

<p>
  <b>Procuredasphant:</b>
  <%=h @proj_detail.ProcuredAsphant %>
</p>

<p>
  <b>Billedasphant:</b>
  <%=h @proj_detail.BilledAsphant %>
</p>

<p>
  <b>Procuredconcrete:</b>
  <%=h @proj_detail.ProcuredConcrete %>
</p>

<p>
  <b>Billedconcrete:</b>
  <%=h @proj_detail.BilledConcrete %>
</p>

<p>
  <b>Procuredhsteal:</b>
  <%=h @proj_detail.ProcuredHSteal %>
</p>

<p>
  <b>Billedhsteal:</b>
  <%=h @proj_detail.BilledHSteal %>
</p>

<p>
  <b>Procuredrsteal:</b>
  <%=h @proj_detail.ProcuredRSteal %>
</p>

<p>
  <b>Billedrsteal:</b>
  <%=h @proj_detail.BilledRSteal %>
</p>

<p>
  <b>Machineavailability:</b>
  <%=h @proj_detail.MachineAvailability %>
</p>

<p>
  <b>Machineused:</b>
  <%=h @proj_detail.MachineUsed %>
</p>

<p>
  <b>Manpoweravailability:</b>
  <%=h @proj_detail.ManpowerAvailability %>
</p>

<p>
  <b>Manpowerused:</b>
  <%=h @proj_detail.ManpowerUsed %>
</p>


<%= link_to 'Edit', edit_proj_detail_path(@proj_detail) %> |
<%= link_to 'Back', proj_details_path %>