<p>
  <b>Month:</b>
  <%=h @proj_detail.month %>
</p>

<p>
  <b>% Progress</b>
  <%=h @proj_detail.PercentageProgress %>
</p>

<p>
  <b>Planned Value</b>
  <%=h @proj_detail.PlannedValue %>
</p>

<p>
  <b>Earned Value</b>
  <%=h @proj_detail.EarnedValue %>
</p>

<p>
  <b>Actual Cost</b>
  <%=h @proj_detail.ActualCost %>
</p>

<p>
  <b>LRE Site</b>
  <%=h @proj_detail.LRESite %>
</p>

<p>
  <b>LRE PMC</b>
  <%=h @proj_detail.LREPmc %>
</p>

<p>
  <b>CPI</b>
  <%=h @proj_detail.CPI %>
</p>

<p>
  <b>SPI</b>
  <%=h @proj_detail.SPI %>
</p>

<p>
  <b>Billed Milestones</b>
  <%=h @proj_detail.MileStoneBilled %>
</p>

<p>
  <b>Unbilled Milestones</b>
  <%=h @proj_detail.MileStoneUnbilled %>
</p>

<p>
  <b>Internal Issues</b>
  <%=h @proj_detail.InternalIssues %>
</p>

<p>
  <b>External Issues</b>
  <%=h @proj_detail.ExternalIssues %>
</p>

<p>
  <b>Quality Index</b>
  <%=h @proj_detail.QualityIndex %>
</p>

<p>
  <b>HSC Index</b>
  <%=h @proj_detail.HSCIndex %>
</p>

<p>
  <b>Procured Asphalt:</b>
  <%=h @proj_detail.ProcuredAsphant %>
</p>

<p>
  <b>Billed Asphalt</b>
  <%=h @proj_detail.BilledAsphant %>
</p>

<p>
  <b>Procured Concrete</b>
  <%=h @proj_detail.ProcuredConcrete %>
</p>

<p>
  <b>Billed Concrete</b>
  <%=h @proj_detail.BilledConcrete %>
</p>

<p>
  <b>Procured HSteel:</b>
  <%=h @proj_detail.ProcuredHSteal %>
</p>

<p>
  <b>Billed HSteel</b>
  <%=h @proj_detail.BilledHSteal %>
</p>

<p>
  <b>Procured RSteel</b>
  <%=h @proj_detail.ProcuredRSteal %>
</p>

<p>
  <b>Billed RSteel</b>
  <%=h @proj_detail.BilledRSteal %>
</p>

<p>
  <b>Machine Availability</b>
  <%=h @proj_detail.MachineAvailability %>
</p>

<p>
  <b>Machine Usage</b>
  <%=h @proj_detail.MachineUsed %>
</p>

<p>
  <b>Manpower Availability</b>
  <%=h @proj_detail.ManpowerAvailability %>
</p>

<p>
  <b>Manpower Usage</b>
  <%=h @proj_detail.ManpowerUsed %>
</p>


<%= link_to 'Edit', edit_proj_detail_path(@proj_detail) %> |
<%= link_to 'Back', proj_details_path %>